@{
    ViewBag.Title = "About Us";
}
<html>
<head>
    <style>




        h1 span {
            font: 26px Monaco, MonoSpace;
            height: 200px;
            position: absolute;
            width: 20px;
            color: white;
            transform-origin: bottom center;
            background-color: orange;
        }

        .char1 {
            transform: rotate(5deg);
        }

        .char2 {
            transform: rotate(10deg);
        }

        .char3 {
            transform: rotate(15deg);
        }

        .char4 {
            transform: rotate(20deg);
        }

        .char5 {
            transform: rotate(25deg);
        }

        .char6 {
            transform: rotate(30deg);
        }

        .char7 {
            transform: rotate(35deg);
        }

        .char8 {
            transform: rotate(40deg);
        }

        .char9 {
            transform: rotate(45deg);
        }

        .char10 {
            transform: rotate(50deg);
        }

        .char11 {
            transform: rotate(55deg);
        }

        .char12 {
            transform: rotate(60deg);
        }

        .char13 {
            transform: rotate(65deg);
        }

        .char14 {
            transform: rotate(70deg);
        }

        .char15 {
            transform: rotate(75deg);
        }

        .char16 {
            transform: rotate(80deg);
        }

        .char17 {
            transform: rotate(85deg);
        }

        .char18 {
            transform: rotate(90deg);
        }

        .char19 {
            transform: rotate(95deg);
        }

        .char20 {
            transform: rotate(100deg);
        }

        .char21 {
            transform: rotate(105deg);
        }

        .char22 {
            transform: rotate(110deg);
        }

        .char23 {
            transform: rotate(115deg);
        }

        .char24 {
            transform: rotate(120deg);
        }

        .char25 {
            transform: rotate(125deg);
        }

        .char26 {
            transform: rotate(130deg);
        }

        .char27 {
            transform: rotate(135deg);
        }

        .char28 {
            transform: rotate(140deg);
        }

        .char29 {
            transform: rotate(145deg);
        }

        .char30 {
            transform: rotate(150deg);
        }

        .char31 {
            transform: rotate(155deg);
        }

        .char32 {
            transform: rotate(160deg);
        }

        .char33 {
            transform: rotate(165deg);
        }

        .char34 {
            transform: rotate(170deg);
        }

        .char35 {
            transform: rotate(175deg);
        }

        .char36 {
            transform: rotate(180deg);
        }

        .char37 {
            transform: rotate(185deg);
        }

        .char38 {
            transform: rotate(190deg);
        }

        .char39 {
            transform: rotate(195deg);
        }

        .char40 {
            transform: rotate(200deg);
        }

        .char41 {
            transform: rotate(205deg);
        }

        .char42 {
            transform: rotate(210deg);
        }

        .char43 {
            transform: rotate(215deg);
        }

        .char44 {
            transform: rotate(220deg);
        }

        .char45 {
            transform: rotate(225deg);
        }

        .char46 {
            transform: rotate(230deg);
        }

        .char47 {
            transform: rotate(235deg);
        }

        .char48 {
            transform: rotate(240deg);
        }

        .char49 {
            transform: rotate(245deg);
        }

        .char50 {
            transform: rotate(250deg);
        }

        .char51 {
            transform: rotate(255deg);
        }

        .char52 {
            transform: rotate(260deg);
        }

        .char53 {
            transform: rotate(265deg);
        }

        .char54 {
            transform: rotate(270deg);
        }

        .char55 {
            transform: rotate(275deg);
        }

        .char56 {
            transform: rotate(280deg);
        }

        .char57 {
            transform: rotate(285deg);
        }

        .char58 {
            transform: rotate(290deg);
        }

        .char59 {
            transform: rotate(295deg);
        }

        .char60 {
            transform: rotate(300deg);
        }

        .char61 {
            transform: rotate(300deg);
        }

        .char62 {
            transform: rotate(305deg);
        }

        .char63 {
            transform: rotate(310deg);
        }

        .char64 {
            transform: rotate(315deg);
        }

        .char65 {
            transform: rotate(320deg);
        }

        .char66 {
            transform: rotate(325deg);
        }

        .char67 {
            transform: rotate(330deg);
        }

        .char68 {
            transform: rotate(335deg);
        }

        .char69 {
            transform: rotate(340deg);
        }

        .char70 {
            transform: rotate(345deg);
        }


        .char71 {
            transform: rotate(350deg);
        }

        .char72 {
            transform: rotate(355deg);
        }

        .char73 {
            transform: rotate(360deg);
        }






        h2 {
            border-style: double;
            border: 40px solid gray;
            border-radius: 50px;
            background-color: gray;
            color: white;
        }

        .pp {
            border-style: double;
            border: 1px solid gray;
            border-radius: 20px;
            border-width: 50px;
            left: 0;
            top: -60px;
            position: relative;
            color: black;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <center> <h2><B><i><u>@ViewBag.Title</u></i></B></h2></center>
        <div class="jumbotron">
            <p class="pp">The factory system replaced the domestic system, in which individual workers used hand tools or simple machinery to fabricate goods in their own homes or in workshops attached to their homes. The use of waterpower and then the steam engine to mechanize processes such as cloth weaving in England in the second half of the 18th century marked the beginning of the factory system. This system was enhanced at the end of the 18th century by the introduction of interchangeable parts in the manufacture of muskets and, subsequently, other types of goods The factory system replaced the domestic system, in which individual workers used hand tools or simple machinery to fabricate goods in their own homes or in workshops attached to their homes. The use of waterpower and then the steam engine to mechanize processes such as cloth weaving in England in the second half of the 18th century marked the beginning of the factory system. This system was enhanced at the end of the 18th century by the introduction of interchangeable parts in the manufacture of muskets and, subsequently, other types of goods</p>
        </div>

    </div>
    <center><h3><u><i><b>Developers Photo</b></i></u></h3></center>
    <div class="col-md-3">

        <img src="~/photo/team-1.jpg" class="img-circle" width="250" height="236">
        <table>
            <tr>
                <td style="width:400px" align="center">
                    Metadel
                    team member
                </td>
            </tr>
        </table>

    </div>
    <div class="col-md-3">
        <img src="~/photo/light.jpg" class="img-circle" alt="Mebrat Bekele Habtemariam" width="250" height=" 236" />
        <table>
            <tr>
                <td style="width:400px" align="center">
                    Mebrat
                    team member
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        <img src="~/photo/team-1.jpg" class="img-circle" width="250" height="236">
        <table>
            <tr>
                <td style="width:400px" align="center">
                    Berihun
                    team member
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        <img src="~/photo/light.jpg" class="img-circle" alt="Mebrat Bekele Habtemariam" width="250" height=" 236" />
        <table>
            <tr>
                <td style="width:400px" align="center">
                    Friw
                    team member
                </td>
            </tr>
        </table>

    </div>
    <div class="jumbotron">
        <div class="jumbotron">
            <div class="jumbotron">

            </div>
        </div>
    </div>

    <div class="jumbotron">
        <center>
            <h1 style="color:white">
                <span class="char1">T</span>
                <span class="char2">e</span>
                <span class="char3">a</span>
                <span class="char4">m</span>
                <span class="char5">W</span>
                <span class="char6">o</span>
                <span class="char7">r</span>
                <span class="char8">k</span>
                <span class="char9"></span>
                <span class="char10">I</span>
                <span class="char11">s</span>




                <span class="char12"></span>
                <span class="char13">V</span>
                <span class="char14">e</span>
                <span class="char15">r</span>
                <span class="char16">y</span>
                <span class="char17"></span>
                <span class="char18">I</span>
                <span class="char19">m</span>
                <span class="char20">p</span>
                <span class="char21">o</span>
                <span class="char22">r</span>
                <span class="char23">t</span>
                <span class="char24">a</span>
                <span class="char25">n</span>
                <span class="char26">t</span>

                <span class="char27"></span>
                <span class="char28">T</span>
                <span class="char29">h</span>
                <span class="char30">a</span>
                <span class="char31">n</span>
                <span class="char32"></span>
                <span class="char33">A</span>

                <span class="char34">l</span>
                <span class="char35">o</span>
                <span class="char36">n</span>
                <span class="char37">e</span>
                <span class="char38"></span>
                <span class="char39">(</span>
                <span class="char40">T</span>
                <span class="char41">w</span>
                <span class="char42">o</span>
                <span class="char43"></span>
                <span class="char44">></span>
                <span class="char45"></span>
                <span class="char46">O</span>
                <span class="char47">n</span>
                <span class="char48">e</span>
                <span class="char49"></span>
                <span class="char50">A</span>

                <span class="char51">l</span>
                <span class="char52">w</span>
                <span class="char53">a</span>
                <span class="char54">y</span>
                <span class="char55">s</span>
                <span class="char56"></span>
                <span class="char57">T</span>
                <span class="char58">r</span>
                <span class="char59">u</span>
                <span class="char60">e</span>


                <span class="char61">e</span>
                <span class="char62">)</span>
                <span class="char63"></span>
                <span class="char64">1</span>
                <span class="char65"><</span>
                <span class="char66">1</span>
                <span class="char67">+</span>
                <span class="char68">1</span>
                <span class="char69"><</span>
                <span class="char70">=</span>
                <span class="char71">2</span>
                <span class="char72">+</span>
                <span class="char73">+</span>
            </h1>
        </center>

        <div class="jumbotron">

            <div class="jumbotron">

                <div class="jumbotron">


                </div>

            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("h1").lettering();
        });
    </script>

</body>

</html>